{{define "tmux_content"}}
  {{if .sessions}}
  <h5>sessions</h5>
  <p>
  <ul>
  {{range .sessions}}
  <li>
  {{.}}
  </li>
  {{end}}
  </ul>
  </p>
  {{end}}

  {{if .windows }}
  <h5>windows</h5>
  <p>
  <ul>
  {{range .windows}}
  <li>
  {{.}}
  </li>
  {{end}}
  </ul>
  </p>
  {{end}}

  {{if .panes}}
  <h5>panes</h5>
  <p>
  <ul>
  {{range .panes}}
  <li>
  {{.}}
  </li>
  {{end}}
  </ul>
  </p>
  {{end}}

  {{if .clients}}
  <h5>clients</h5>
  <p>
  <ul>
  {{range .clients}}
  <li>
  {{.}}
  </li>
  {{end}}
  </ul>
  </p>
  {{end}}

{{end}}
