<!-- ./templates/hi.html -->
<html>
<head>
  <title>{{.title}}</title> 
  <link rel="stylesheet" href="/static/bower/bootstrap/dist/css/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
  <body>
    <div class="container">
      <div class="header clearfix">
        <h5 class="text-muted">tmux control panel</h5>
      </div>
      <form type="GET" action="./">
        {{if .tmux_path }}
        <label for="tmux_path">tmux path</label>
        <input name="tmux_path" value="{{.tmux_path}}" id="tmux_path" />
        {{end}}
      </form>
      <h5>sessions</h5>
      <p>
      {{if .sessions}}
      <ul>
      {{range .sessions}}
      <li>
      {{.}}
      </li>
      {{end}}
      </ul>
      {{end}}
      </p>

      <h5>windows</h5>
      <p>
      {{if .windows}}
      <ul>
      {{range .windows}}
      <li>
      {{.}}
      </li>
      {{end}}
      </ul>
      {{end}}
      </p>

      <h5>panes</h5>
      <p>
      {{if .panes}}
      <ul>
      {{range .panes}}
      <li>
      {{.}}
      </li>
      {{end}}
      </ul>
      {{end}}
      </p>

      <h5>clients</h5>
      <p>
      {{if .clients}}
      <ul>
      {{range .clients}}
      <li>
      {{.}}
      </li>
      {{end}}
      </ul>
      {{end}}
      </p>
    </div>
  </body>
</html>
