<!-- ./templates/hi.html -->
<html>
<head>
  <title>{{.title}}</title> 
  <link rel="stylesheet" href="/static/bower/bootstrap/dist/css/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
  <body>
    <div class="container">
      <div class="header clearfix">
        <h5 class="text-muted">tmux control panel</h5>
      </div>
      <form type="GET" action="./">
        {{if .tmux_path }}
        <label for="tmux_path">tmux path</label>
        <input name="tmux_path" value="{{.tmux_path}}" id="tmux_path" />
        {{end}}
      </form>
      {{template "tmux_content" .}}
    </div>
  </body>
</html>
